In [10]:
import numpy as np
x = np.array([3, 1, 2])
np.argsort(x)   # 排序后的原下标
x[np.argsort(x)] # 按序访问

array([1, 2, 3])

In [9]:
x.sort()
x

array([1, 2, 3])

In [4]:
import numpy as np
np.any([0,1,2,3,4])

True

In [6]:
import pandas as pd
pd.date_range(start='20130101', end='20131231', freq='D')

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10',
               ...
               '2013-12-22', '2013-12-23', '2013-12-24', '2013-12-25',
               '2013-12-26', '2013-12-27', '2013-12-28', '2013-12-29',
               '2013-12-30', '2013-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [8]:
dates = pd.date_range(start='20130101', end='20131231', freq='M') 
df = pd.DataFrame(np.random.randn(12, 4), index=dates, columns=list('ABCD'))
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2013-01-31</th>
      <td>-1.390310</td>
      <td>0.946646</td>
      <td>0.430275</td>
      <td>0.424945</td>
    </tr>
    <tr>
      <th>2013-02-28</th>
      <td>-0.720821</td>
      <td>-1.335997</td>
      <td>-0.315300</td>
      <td>-0.007610</td>
    </tr>
    <tr>
      <th>2013-03-31</th>
      <td>-1.142531</td>
      <td>0.431691</td>
      <td>-0.714617</td>
      <td>0.847349</td>
    </tr>
    <tr>
      <th>2013-04-30</th>
      <td>-1.834321</td>
      <td>-1.003208</td>
      <td>-0.216495</td>
      <td>-2.330971</td>
    </tr>
    <tr>
      <th>2013-05-31</th>
      <td>0.008632</td>
      <td>-0.998616</td>
      <td>0.777382</td>
      <td>0.235515</td>
    </tr>
    <tr>
      <th>2013-06-30</th>
      <td>0.509443</td>
      <td>-1.681740</td>
      <td>1.226206</td>
      <td>0.258768</td>
    </tr>
    <tr>
      <th>2013-07-31</th>
      <td>0.071503</td>
      <td>0.400385</td>
      <td>-2.436591</td>
      <td>0.402176</td>
    </tr>
    <tr>
      <th>2013-08-31</th>
      <td>-0.747770</td>
      <td>0.794082</td>
      <td>-0.501500</td>
      <td>0.532863</td>
    </tr>
    <tr>
      <th>2013-09-30</th>
      <td>1.234665</td>
      <td>0.083688</td>
      <td>-0.909180</td>
      <td>0.599805</td>
    </tr>
    <tr>
      <th>2013-10-31</th>
      <td>-0.305090</td>
      <td>0.241086</td>
      <td>0.241136</td>
      <td>0.409292</td>
    </tr>
    <tr>
      <th>2013-11-30</th>
      <td>0.096202</td>
      <td>-1.384769</td>
      <td>1.931434</td>
      <td>-0.098136</td>
    </tr>
    <tr>
      <th>2013-12-31</th>
      <td>0.721423</td>
      <td>0.633948</td>
      <td>0.321793</td>
      <td>-1.360542</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
df = pd.DataFrame([[np.random.randint(1,1000) for j in range(4)] \
                        for i in range(12)], index=dates, columns=list('ABCD'))